*{
    margin: 0;
    padding: 0;
    font-family: minecraft;
    scrollbar-color: none;
    scrollbar-width: 0px;
}
@keyframes rotateColors {
    0% {
        box-shadow: 
            0 0 5px #00FFFF,
            0 0 10px #00FFFF,
            0 0 15px #00FFFF,
            0 0 20px #FF00FF,
            0 0 25px #FF00FF,
            0 0 30px #FF00FF;
    }
    50% {
        box-shadow: 
            0 0 5px #FF00FF,
            0 0 10px #FF00FF,
            0 0 15px #FF00FF,
            0 0 20px #00FFFF,
            0 0 25px #00FFFF,
            0 0 30px #00FFFF;
    }
    100% {
        box-shadow: 
            0 0 5px #00FFFF,
            0 0 10px #00FFFF,
            0 0 15px #00FFFF,
            0 0 20px #FF00FF,
            0 0 25px #FF00FF,
            0 0 30px #FF00FF;
    }
}
@font-face {
    font-family: minecraft;
    src: url("../resources/Minecraft.ttf");
  }
@font-face {
    font-family: minecrafter;
    src: url("../resources/Minecrafter.Reg.ttf");
  }
  @font-face {
    font-family: komika;
    src: url("../resources/KOMIKAX_.ttf");
  }
    @property --angle{
    syntax:"<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  @keyframes anime{
    from{
    --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }
  body{
    overflow: hidden hidden;
    background-color: #151320;
    scrollbar-color: none;
    scrollbar-width: 0px;
  }
#bg{
    position: absolute;
  z-index: -1;
    width: 100vw;
      height: 100vh;
  }
  #search{
      width: 76vw;
      height: 9vh;
      font-family: minecraft;
      outline: none;
      background: white;
      font-size: 4vw;
  }
  .search{
      display: flex;
      height: 8vh;
  }
  #srch{
      font-family: minecraft;
    width: 30%;
    height: 113%;
    display: inline;
    
    color: white;
    flex-grow: 1;
    top: 1vh;
border: 1px solid #1E1E1F;
letter-spacing: 0.5vw;
    font-size: 6vw;
    background-color: #3C8527/*rgba(7, 211, 99, 0.418)*/;
    
  }
  .mods-container{
    display: flex;
      flex-direction: column;
    width:99vw;
      overflow-y:scroll;
      margin-top: 3vh;
      height: 95vh; 
   align-items: space-around;
  }
  .mod img{
    width: 80vw;
    border-color: white;
    border-radius: 0.3rem;
    
  }
  .mod label{
    font-size: 3rem;
    color: white;
   /* font-weight: 1000px;*/
   margin-left: 3vw;
   font-family: minecrafter;
  }
  .mod{
    /* background-color: rgba(32, 18, 18, 0.616); */
    position: relative;
       box-shadow: 0 0 5px #00FFFF,
   0 0 10px #00FFFF,
   0 0 15px #00FFFF,
   0 0 20px #FF00FF,
   0 0 25px #FF00FF,
   0 0 30px #FF00FF;
   animation: rotateColors 3s infinite linear;
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 0.3rem;
    align-self: center;
   margin-top: 4vh;
    
 /*   background-image: url("../resources/bg1.jpeg");*/
 background-color: #2F303A;
    margin-bottom: 15vh;
  }
    /*  .mod::after ,mod::before{
    content: '';
    position: relative;
    background-image: conic-gradient(from var(--angle),#5ddcff, #3c67e3 43%, #4e00c2,#5ddcff, #3c67e3 43%, #4e00c2,#5ddcff, #3c67e3 43%, #4e00c2);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 0.3rem;
    position: absolute;
    padding: 3px;
    z-index: -1;
    animation: anime 5s linear infinite;
    
  }
  .mod::before{
    filter: blur(1.5rem);
    
  }*/
  @media (orientation:landscape) {
    #srch{
        position: relative;
        width: 1%;
        height: 122%;
        margin-top: 1vh;
        display: inline;
        flex-grow: 1;
        font-size: 1vw;
        top: -1vh;
        letter-spacing: 0.3vw;
    }
    .mod img{
      width: 25vw;

    }
    .mods-container{
      flex-direction: row;
      flex-wrap: wrap;
width: 99vw;
justify-content: space-around;
margin-left: 1vw;
height: 90vh;
align-content: none;

    }
    #search{
      font-size: 1.5vw;
    }
    .mod label{
      font-size: 2rem;
    }
    .mod{
      width: 25vw;
display: flex;
flex-direction: column;
height: fit-content;
    }
  }
